<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.jarroyo.transitionrecognitionapp">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- TRANSITION RECOGNITION - BROADCAST RECEIVER -->
        <receiver android:name=".TransitionRecognitionReceiver">
            <intent-filter>
                <action android:name="es.jarroyo.transitionrecognitionapp.TRANSITION_RECOGNITION" />
            </intent-filter>
        </receiver>

    </application>

</manifest>